
server {
  listen 443 ssl;
  server_name quarantime.io;
 
  # lines omitted

  server_name localhost;
    location /shapr {
        proxy_pass http://localhost:3000/shapr;
        proxy_http_version 1.1;
        proxy_set_header Upgrade $http_upgrade;
        proxy_set_header Connection "upgrade";
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header Host $host;
        proxy_redirect off;
    }

    location / {
        # Front-end file would come here
    }
}
server {
    listen 80;
    server_name quarantime.io;
    return 301 https://$host$request_uri;
}